doctype html
html
  head
    title='DWT Hello World'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/Resources/dynamsoft.webtwain.initiate.js')
    script(src='/Resources/dynamsoft.webtwain.config.js')
  body
    block content