h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#img {
    background-image: url("../img/angular-dynamsoft.png");
    width: 250px;
    height: 200px;
}

table {
    margin: auto;
}